extends layouts/LayoutTheme
include mixins/common/InfoText
include mixins/common/Feature 
include mixins/home/landing/HeroHeader
include mixins/home/landing/JoinUs
include mixins/home/landing/StartForm 
include mixins/home/landing/PricingTable 
include mixins/home/landing/Testimonials 
include mixins/home/landing/Clients 
include mixins/home/landing/Footer



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +JoinUS
  +StartForm 
  +PricingTable
  +Testimonials 
  +Clients
  +Footer
