mixin Client(image)
  .col-auto.col-md-4.col-lg-auto.my-3.text-xl-start&attributes(attributes)
    img(src=`${CWD}assets/img/gallery/${image}` height="40"  alt='...')
mixin Clients
  +Section.pb-lg-0.pt-md-8.py-0
    .row.align-items-center.justify-content-xl-between.py-5.border-klean
      +Client('robinhood.png')                 
      +Client('reddit.png')                  
      +Client('upcase.png')                                   
      +Client('hubspot.png')                
      +Client('tunein.png')   