mixin HeroHeader
  section#home
    +Background({image: `${CWD}assets/img/gallery/hero.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: '' })
    .container
      .row.align-items-center.min-vh-50.min-vh-sm-75
        .col-md-5.col-lg-6.order-0.order-md-1
          img.w-100(src=`${CWD}assets/img/illustrations/hero-header.png` alt='...')
        .col-md-7.col-lg-6.text-md-start.text-center
          h1.text-light.fs-md-5.fs-lg-6 Web Hosting Easy and Secure
          p.text-light Full control of what you use and pay for  
          a.btn.btn-primary(href='#' role='button')
            | Get In Touch
            