mixin JoinUS 
  +Section.pt-8
    .row 
      .col-lg-6.col-xxl-5.text-center.mx-auto
        h2 What will you get if you'll join us
        p.mb-4 Get the best web hosting service at the price you can afford
    .row.align-items-center.mt-5
      .col-md-5.col-lg-6.order-md-1.order-0
        img.w-100(src=`${CWD}assets/img/gallery/join-us.png` alt='')
      .col-md-7.col-lg-6.pe-lg-4.pe-xl-7
        //- Heading
        .d-flex.align-items-start
          img.me-4(src=`${CWD}assets/img/icons/give-a-care.png` alt='' width='30' )
          .flex-1 
            h5 WE GIVE A CARE 
            p.text-muted.mb-4 Beside the support we provide you with various tools to be able to host and manage your websites
        .d-flex.align-items-start
          img.me-4(src=`${CWD}assets/img/icons/tweak-as-you.png` alt='' width='30' )
          .flex-1 
            h5 TWEAK AS YOU WISH
            p.text-muted.mb-4 Be able to customize your plan over time if needed so you pay only for what you use
        .d-flex.align-items-start
          img.me-4(src=`${CWD}assets/img/icons/security.png` width='30' alt='...')
          .flex-1  
            h5 SECURITY AT ITS BEST
            p We are the most reliable service provider, ready to give you a helping hand the fastest way possible 24/7