mixin StartForm 
  +Section.pt-8.bg-soft-primary
    .row
      .col-lg-6.col-xxl-5.text-center.mx-auto.mb-5
        h2 Don't know where to start from?
        p.mb-5 We've got the best articles,tools and resources to help you to start
    .row.h-100
      .col-md-6.mb-5.mb-md-0.h-100
        .card.card-span.bg-primary.h-100
          .card-body.p-4
            .d-flex.justify-content-between
              img.mb-3(src=`${CWD}assets/img/icons/rocket.png` height='80' alt='...')
              img(src=`${CWD}assets/img/icons/clouds-1.png` height='90' alt='...')
            h5.text-light PLANING TO BUILD A WEBSITE
            p.text-light.lh-lg You want to build a new website but not sure what to start with? We've prepared a step by step guide for you to handle the whole process from design to launch 
            .text-end
              a.btn.btn-light(href='#' role='button') LEARN MORE
                svg.bi.bi-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                  path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
      .col-md-6.h-100
        .card.bg-secondary.card-span.h-100
          .card-body.p-4
            .d-flex.justify-content-between
              img.mb-3(src=`${CWD}assets/img/icons/servion.png` height='80' alt='...')
              img(src=`${CWD}assets/img/icons/logos.png` height='90' alt='...')
            h5.text-light WANT TO MOVE A WEBSITE TO SERVION
            p.text-light.lh-lg Already have an existing website and want to move it to Servion but not sure how to do it? No worries, it's not difficult, we can handle all the work for you.  
            .text-end
              a.btn.btn-light(href='#' role='button') LEARN MORE
                svg.bi.bi-chevron-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
                  path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')